[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
django = "*"
ipdb = "*"
cherrypy = "*"
tinydb = "*"
flask-restful = "*"
requests = "*"
arrow = "*"
pytest = "*"

[dev-packages]
"flake8" = "*"
rope = "*"

[requires]
python_version = "3.7"
